<!-- <h1>This is a homepage</h1>
<app-login></app-login> -->

<h1>{{appName.length}}</h1>

<!-- <img src="https://picsum.photos/id/237/200/300" alt=""> -->
<!-- <img [src]="imgUrl" alt=""> -->
<!-- local image or assets image -->
<!-- <img src="assets/imag.png" alt=""> -->

<h4 [class]="blue">Hello from Blue class</h4>

<h3 [ngClass]="myClasses">
    Change my color
</h3>

<h3 class="redColor italicFont">
    Change my color
</h3>

<!-- <h4 [style.color]="color">
    I will be print in given color by component style binding
</h4> -->

<h4 style="color:red; font-style: italic; text-decoration: underline;">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim ipsam, facilis pariatur numquam molestiae voluptatem quidem voluptate, nisi, optio odit earum tenetur iusto dolorem et quisquam. Pariatur sapiente ipsam quidem.
</h4>

<h4 [ngStyle]="myStyle">
    I am having multiple syle properties from component style binding using ngStyle
</h4>


<button (click)="btnClick()">Click Me</button>